body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(90.53% 90.53% at 50% 9.47%, #291A36 0%, #110120 100%);
    color: white;
    font-family: "Roboto", sans-serif;
    display : flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    min-height: 10%;
    
}



footer{
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 5vw;
}


footer nav li a{
    text-decoration: none;
    color:white;
    margin: 1em;
    font-size: 1.1em;
}



.policies{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0 2em;
}

.nav-media{
    list-style-type: none;
    display : flex;
    flex-direction: row;
}
.nav-media a:link{
    
    text-decoration: none;
}

header form input{
    line-height: 2em;
    width: 35vw;
}

main{
    height: 100%;
}

.top-pics,
.most-popular {
    margin: 3em 10em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
    justify-items: center;
}

.top-pics img,
.most-popular img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    
}

.top-pics img:hover,
.most-popular img:hover {
    transform: scale(1.05);
}

h3{
    margin: 1em;
    font-size: x-large;
}

.film-card{
    position: relative;
}
.overlay{
    position: absolute;
    color:palegoldenrod;
    bottom: 0;
    background-color: azure;
}

