body{
    margin: 0;
    width: 100vw;
    
    background: radial-gradient(90.53% 90.53% at 50% 9.47%, #291A36 0%, #110120 100%);
    color: white;
    font-family: "Roboto", sans-serif;
    display : flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    
}

header form input{
    margin: 1em 1em;
    line-height: 2em;
    width: 45vw;
    border-radius: 5px;
   
}


.user{
    margin: 0em 5em;
    font-size: 1.6em;
    display: flex;
    justify-content: space-around;
}





footer{
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 5vw;
}


a{
    text-decoration: none;
    color:white;
    margin: 1em;
    font-size: 1.1em;
}



.policies{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0 2em;
}

.nav-media{
    list-style-type: none;
    display : flex;
    flex-direction: row;
}




.top-pics,
.most-popular {
    margin: 3em 10em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
    justify-items: center;
}

.top-pics img,
.most-popular img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 20px;
    position: relative;
    z-index: 3;
    
}

.top-pics img:hover,
.most-popular img:hover {
 /*transform: scale(1.04);*/
 /*z-index: 1;*/
}

h3{
    margin: 1em;
    font-size: x-large;
}


.overlay{
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 1.6em;

}

